<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="/css/roomPrac.css" />
        <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css" />
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
        <style>
            .w3-bar-item {
                border-right: 1px solid #ccc !important;
            }
            .w3-bar-item.active {
                background-color: #00b158;
                color: #fff;
            }
        </style>
    </head>
    <body>
        <div class="room-container">
            <div class="w3-bar w3-border-bottom w3-light-grey">
                <a href="/roomPrac" class="w3-bar-item w3-button active">Phong thuc hanh</a>
                <a href="/roomLab" class="w3-bar-item w3-button">Phong thi nghiem</a>
                <a href="/history" class="w3-bar-item w3-button">Lich su</a>
                <a href="/manage-student" class="w3-bar-item w3-button">Quan ly sinh vien</a>
                <a href="/schedule" class="w3-bar-item w3-button">Quan li lich hoc</a>
            </div>
            <div class="room-header">
                <h2>QUẢN LÝ PHÒNG THỰC HÀNH</h2>
            </div>
            <% if (error) { %>

            <h2 style="color: red; text-align: center"><%=error %></h2>

            <% } %>
            <div class="room-body">
                <div class="add-room">
                    <button class="add-room-btn" id="myBtn">Thêm mới phòng THỰC HÀNH</button>
                </div>
                <div class="room-list">
                    <table id="customers">
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th>Tên phòng</th>
                                <th>Mã phòng</th>
                                <th>Chuyên khoa</th>
                                <th>Số lượng sinh viên tối đa</th>
                                <th>Các thao tác</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for (let i=0; i< data.length; i++) { %>

                            <tr>
                                <td><%= i + 1 %></td>
                                <td><%=data[i].name %></td>
                                <td><%=data[i].code %></td>
                                <td><%=data[i].specialty %></td>
                                <td><%=data[i].max_student %></td>

                                <td style="display: flex; gap: 15px">
                                    <a href="/detail-roomPrac/<%=data[i].id %>" class="room-action"> Xem chi tiết </a>
                                    <form action="/edit-roomPrac/<%= data[i].id %>" method="GET">
                                        <button class="room-action edit editBtn" type="submit">Edit</button>
                                    </form>
                                    <form action="/delete-roomPrac/<%= data[i].id %>" method="POST">
                                        <button class="room-action delete deleteBtn" type="submit">Delete</button>
                                    </form>
                                </td>
                            </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div id="modal-container">
            <div id="myModal" class="modal">
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <div class="create-room">
                        <form class="modal__form" action="/create-newroomPrac" method="POST">
                            <div class="modal__item-wrap">
                                <span class="modal__manager-name"> Tạo phòng mới </span>
                            </div>
                            <div class="modal__content-wrap">
                                <div class="modal__item-wrap">
                                    <label class="modal__item-label">Tên phòng TH</label>
                                    <input
                                        class="modal__item-input"
                                        valid="tên phòng thực hành"
                                        type="text"
                                        name="name"
                                    />
                                </div>
                                <div class="modal__item-wrap">
                                    <label class="modal__item-label">Mã phòng</label>
                                    <input
                                        class="modal__item-input"
                                        valid="mã phòng thực hành"
                                        type="text"
                                        name="code"
                                    />
                                </div>
                                <div class="modal__item-wrap">
                                    <label class="modal__item-label">Chuyên khoa</label>
                                    <input class="modal__item-input" valid="chuyên khoa" type="text" name="specialty" />
                                </div>
                                <div class="modal__item-wrap">
                                    <label class="modal__item-label">Số lượng sinh viên</label>
                                    <input
                                        class="modal__item-input"
                                        valid="số lượng sinh viên"
                                        type="text"
                                        name="maxStudent"
                                    />
                                </div>
                                <div class="modal__item-wrap">
                                    <label class="modal__item-label">Mô tả</label>
                                    <input class="modal__item-input" valid="mô tả" type="text" name="description" />
                                </div>

                                <div class="modal__item-wrap modal__item-wrap--btn">
                                    <button class="modal__item-button" type="submit">Lưu</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <script>
            let deleteBtn = document.querySelectorAll('.deleteBtn');

            deleteBtn.forEach((item) => {
                item.onclick = (e) => {
                    let isConfirm = confirm('Bạn có xác nhận xóa phòng thực hành');
                    if (!isConfirm) {
                        e.preventDefault();
                    }
                };
            });

            // Get the modal
            let modal = document.getElementById('myModal');

            // Get the button that opens the modal
            let btn = document.getElementById('myBtn');

            // Get the <span> element that closes the modal
            let span = document.getElementsByClassName('close')[0];

            // When the user clicks the button, open the modal
            btn.onclick = function () {
                modal.style.display = 'block';
            };

            // When the user clicks on <span> (x), close the modal
            span.onclick = function () {
                modal.style.display = 'none';
            };

            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function (event) {
                if (event.target == modal) {
                    modal.style.display = 'none';
                }
            };

            //Validate input
            let btnSave = document.querySelector('.modal__item-button');
            let inputs = document.querySelectorAll('.modal__item-input');

            btnSave.onclick = (e) => {
                let isValid = true;
                for (let i = 0; i < inputs.length; i++) {
                    if (!inputs[i].value) {
                        let valueError = inputs[i].getAttribute('valid');
                        alert(`Vui lòng nhập ${valueError}`);
                        isValid = false;
                        break;
                    }
                    if (inputs[i].name === 'maxStudent') {
                        let regexInt = /^[0-9]*$/;

                        let checkNumber = regexInt.test(inputs[i].value);

                        if (!checkNumber) {
                            alert('Số lượng sinh viên phải là số nguyên');
                            isValid = false;
                            break;
                        }
                    }
                }

                if (!isValid) {
                    e.preventDefault();
                } else {
                    let isConfirm = confirm('Bạn có xác nhận thêm mới phòng thực hành');
                    if (!isConfirm) {
                        e.preventDefault();
                    }
                }
            };
        </script>
    </body>
</html>
