<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
        <link rel="stylesheet" href="/css/roomPrac.css" />
        <link rel="stylesheet" href="/css/history.css" />
        <link rel="stylesheet" href="/css/btnreturn.css" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
            integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />
        <style>
            .w3-bar-item {
                border-right: 1px solid #ccc !important;
            }
            .w3-bar-item.active {
                background-color: #00b158;
                color: #fff;
            }
        </style>
    </head>
    <body>
        <div class="room-header">
            <div class="wrap__header" style="position: absolute; top: 32px; left: 108px">
                <form class="content__item" action="/student-info" method="POST">
                    <input type="text" hidden value="<%= studentID %>" name="id" />
                    <div class="content__item-main">
                        <button type="submit" class="content__item-text content__item-text--btn">
                            <i class="fa-solid fa-rotate-left header__link-back--icon"></i>
                            Quay lại
                        </button>
                    </div>
                </form>
            </div>
            <h2>Xem lịch sử</h2>
        </div>
        <% if (error) { %>

        <h2 style="color: red; text-align: center"><%=error %></h2>

        <% } %>
        <div class="room-body">
            <div class="slide">
                <div class="add-room"></div>
                <div class="slide__right">
                    <!-- <form method="POST" action="/search-student-history">
                        <input class="search" type="search" name="keyword" placeholder="Tìm kiếm..." />
                        <% for (let i=0; i< data.length; i++) { %>
                        <input type="text" name="object" hidden value="<%=data[i].object %>" />
                        <input type="text" name="name" hidden value="<%=data[i].name %>" />
                        <input type="text" name="email" hidden value="<%=data[0].email %>" />
                        <% } %>
                        <button class="search__btn" type="submit">Tìm kiếm</button>
                    </form> -->
                </div>
            </div>
            <div class="room-list">
                <table id="customers">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Phòng đăng ký</th>
                            <th>Mã phòng</th>
                            <th>Ca học</th>
                            <th>Thời gian đăng ký</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for (let i=0; i< data.length; i++) { %>

                        <tr>
                            <td><%= i + 1 %></td>
                            <td><%=data[i].object %></td>
                            <td><%=data[i].name %></td>
                            <td><%=data[i].schedule %></td>
                            <td><%=data[i].timelogin %></td>
                            <!-- <td style="display: flex; gap: 15px">
                                <a href="/detail-roomLab/<%=data[i].id %>" class="room-action"> Xem chi tiết </a>
                                <form action="/edit-roomLab/<%= data[i].id %>" method="GET">
                                    <button class="room-action edit editBtn" type="submit">Edit</button>
                                </form>
                                <form action="/delete-roomLab/<%= data[i].id %>" method="POST">
                                    <button class="room-action delete deleteBtn" type="submit">Delete</button>
                                </form>
                            </td> -->
                        </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
