<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
        <link rel="stylesheet" href="/css/history.css" />
        <link rel="stylesheet" href="/css/roomPrac.css" />
        <style>
            .w3-bar-item {
                border-right: 1px solid #ccc !important;
            }
            .w3-bar-item.active {
                background-color: #00b158;
                color: #fff;
            }
        </style>
    </head>
    <body>
        <div class="w3-bar w3-border-bottom w3-light-grey">
            <a href="/admin" class="w3-bar-item w3-button">ADMIN</a>
            <a href="/roomPrac" class="w3-bar-item w3-button">Phòng thực hành</a>
            <a href="/roomLab" class="w3-bar-item w3-button">Phòng thí nghiệm</a>
            <a href="/history" class="w3-bar-item w3-button active">Lịch sử</a>
            <a href="/manage-student" class="w3-bar-item w3-button">Quản lý sinh viên</a>
            <a href="/schedule" class="w3-bar-item w3-button">Quản lý lịch học</a>
            <a href="/statis" class="w3-bar-item w3-button">Thống kê</a>

            <a href="/" class="w3-bar-item w3-button log-out">Đăng xuất</a>
        </div>
        <div class="room-header">
            <h2>Xem lịch sử</h2>
        </div>
        <% if (error) { %>

        <h2 style="color: red; text-align: center"><%=error %></h2>

        <% } %>
        <div class="room-body">
            <div class="slide">
                <div class="add-room"></div>
                <div class="slide__right">
                    <!-- <form method="POST" action="/search-history">
                        <input class="search" type="search" name="keyword" placeholder="Tìm kiếm..." />
                        <% for (let i=0; i< data.length; i++) { %>
                        <input type="text" name="code" hidden value="<%=data[i].code %>" />
                        <% } %>
                        <button class="search__btn" type="submit">Tìm kiếm</button>
                    </form> -->
                </div>
                <div class="slide__right">
                        
                    <form method="POST" action="/search-history">
                        <select class="sort">
                            <option value="none" 
                            <% if (sortType === 'none') { %>
                                selected
                              <% } %>
                            />
                            Không sắp xếp</option>
                            <option value="object" 
                            <% if (sortType === 'object') { %>
                                selected
                              <% } %>
                            />
                            Sắp xếp theo đối tượng</option>

                            <option value="name"
                            <% if (sortType === 'name') { %>
                                selected
                              <% } %>
                            />
                            Sắp xếp theo tên</option>

                            <option value="code"
                            <% if (sortType === 'code') { %>
                                selected
                              <% } %>
                            />
                            Sắp xếp theo mã</option>

                            <option value="action"
                            <% if (sortType === 'action') { %>
                                selected
                              <% } %>
                            />
                            Sắp xếp theo hành động</option>
            
                        </select>
                        <select class="looking">
                            <option value="object" 
                            <% if (searchType === 'object') { %>
                                selected
                              <% } %>
                            />
                            Tìm kiếm theo đối tượng</option>

                            <option value="name"
                            <% if (searchType === 'name') { %>
                                selected
                              <% } %>
                            />
                            Tìm kiếm theo tên</option>

                            <option value="code"
                            <% if (searchType === 'code') { %>
                                selected
                              <% } %>
                            />
                            Tìm kiếm theo mã</option>
                            <option value="action"
                            <% if (searchType === 'action') { %>
                                selected
                              <% } %>
                            />
                            Tìm kiếm theo hành động</option>
                            <option value="time"
                            <% if (searchType === 'time') { %>
                                selected
                              <% } %>
                            />
                            Tìm kiếm theo thời gian thực hiện (Ví dụ: 08/08/2023)</option>


                        </select>
                        <input type="text" value="name" class="searchType" hidden name="searchType" />
                        <input type="text" value="none" class="sortType" hidden name="sortType" />


                        <input class="search" type="search" name="keyword" placeholder="Tìm kiếm..." />
                        <% for (let i=0; i< data.length; i++) { %>
                            <input type="text" name="code" hidden value="<%=data[i].code %>" />
                            <% } %>

                        <button class="search__btn" type="submit">Tìm kiếm</button>
                    </form>
                </div>
            </div>
            <div class="room-list">
                <table id="customers">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Đối tượng</th>
                            <th>Tên</th>
                            <th>Mã</th>
                            <th>Hành động</th>
                            <th>Thời gian</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for (let i=0; i< data.length; i++) { %>

                        <tr>
                            <td><%= i + 1 %></td>
                            <td><%=data[i].object %></td>
                            <td><%=data[i].name %></td>
                            <td><%=data[i].code %></td>
                            <td><%=data[i].action %></td>
                            <td><%=data[i].time%></td>

                            <!-- <td style="display: flex; gap: 15px">
                                <a href="/detail-roomLab/<%=data[i].id %>" class="room-action"> Xem chi tiết </a>
                                <form action="/edit-roomLab/<%= data[i].id %>" method="GET">
                                    <button class="room-action edit editBtn" type="submit">Edit</button>
                                </form>
                                <form action="/delete-roomLab/<%= data[i].id %>" method="POST">
                                    <button class="room-action delete deleteBtn" type="submit">Delete</button>
                                </form>
                            </td> -->
                        </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </div>
        <script>
            let logOut = document.querySelector('.log-out');

            logOut.onclick = (e) => {
                let check = confirm('Bạn có xác nhận đăng xuất?');
                if (!check) {
                    e.preventDefault();
                }
            };

            let sortBtn = document.querySelector('.sort');
            let lookingBtn = document.querySelector('.looking');
            let inputTypeSearch = document.querySelector('.searchType');
            let inputTypeSort = document.querySelector('.sortType');
            sortBtn.onchange = () => {
                inputTypeSort.value = sortBtn.value;
                // console.log(inputTypeSearch.value);
            };
            lookingBtn.onchange = () => {
                inputTypeSearch.value = lookingBtn.value;
                // console.log(inputTypeSearch.value);
            };
        </script>
    </body>
</html>


<!-- <option value="time"
                            <% if (sortType === 'time') { %>
                                selected
                              <% } %>
                            />
                            Sắp xếp theo thời gian</option>
                             -->