<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/roomTH.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="./roomTH.css">
</head>
<body>
    <div class="roomTH-container">
        <div class="roomTH-header">Phong thuc hanh</div>
        <div class="roomTH-body"> 
            <div class="roomTH-list">                
                <% for (let i=0; i< data.length; i++) { %>

                    <a href="/detailRoomTH/<%= data[i].id %>" class="roomTH-item" >
                        <div class=""><%= data[i].tenphong %></div>
                        <div class=""><%= data[i].maphong %></div>
                        <div class=""><%= data[i].chuyenkhoa %></div>
                        <div class=""><%= data[i].soluongsinhvien %></div>
                        <div class="">Xem Mô Tả</div>
                        <div class="">Xem Thiết bị</div>
                </a>
                 <% } %>
                
            </div>
            <div>
                <h2>Them phong thi nghiem</h2>
        <form  action="/create-newroomTH" method="POST"> 
            <div class="modal__item-wrap">
                <span class="modal__manager-name">
                    Tạo phòng mới
                </span>
            </div>
            <div class="modal__content-wrap">
                <div class="modal__item-wrap">
                    <label class="modal__item-label">Tên phòng TH</label>
                    <input class="modal__item-input" type="text" name="tenphong" />
                </div>
                <div class="modal__item-wrap">
                    <label class="modal__item-label">Mã phòng</label>
                    <input class="modal__item-input" type="text" name="maphong" />
                </div>
                <div class="modal__item-wrap">
                    <label class="modal__item-label">Chuyên khoa</label>
                    <input class="modal__item-input" type="text" name="chuyenkhoa" />
                </div>
                <div class="modal__item-wrap">
                    <label class="modal__item-label">Số lượng sinh viên</label>
                    <input class="modal__item-input" type="text" name="soluongsinhvien" />
                </div>
                <div class="modal__item-wrap">
                    <label class="modal__item-label">Mô tả</label>
                    <input class="modal__item-input" type="text" name="mota" />
                </div>
                
                <div class="modal__item-wrap">
                    <button class="modal__item-button" type="submit">Lưu</button>
                </div>
            </div>
        </form>
            </div>
        </div>
    </div>
    
    <!-- <div id="wrap__layout">
        <header class="header header__roomTH">
            <nav class="nav nav__roomTH">
                <span class="nav__item">
                    <a href="" class="nav__link">ADMIN</a>
                </span>
                <span class="nav__item">
                    <a href="" class="nav__link">Quản lí phòng Thực Hành</a>
                </span>
                <span class="nav__item">
                    <a class="nav__link nav__link-createroom">Tạo phòng mới</a>
                </span>
            </nav>
        </header>
        <!-- <main class="main main__roomTH">
            <header class="main__header main__header-roomTH">
                <span class="main__header-item">Tên Phòng</span>
                <span class="main__header-item">Mã Phòng</span>
                <span class="main__header-item">Chuyên Khoa</span>
                <span class="main__header-item">Số Lượng Sinh Viên</span>
                <span class="main__header-item">Mô Tả</span>
                <span class="main__header-item">Xem thiết bị</span>
                <span class="main__header-item">Edit</span>
                <span class="main__header-item">Delete</span>
            </header>
           
                <div class="main__content main__content-roomTH">
                    <div class="main__content-item">
                        <% for (let i=0; i< data.length; i++) { %>
                        <span class="main__content-item--child"><%= data[i].tenphong %></span>
                        <span class="main__content-item--child"><%= data[i].maphong %></span>
                        <span class="main__content-item--child"><%= data[i].chuyenkhoa %></span>
                        <span class="main__content-item--child"><%= data[i].soluongsinhvien %></span>
                        <span class="main__content-item--child main__content-item--des">Xem Mô Tả</span>
                        <span class="main__content-item--child modal__TB">Xem Thiết bị</span>
                        <div class="main__content-des--wrap">
                            <div class="main__content-des--main">
                                <span class="content__des-title">
                                    Thông tin mô tả chi tiết
                                </span>
                                <span class="content__des-content">
                                    <%= data[i].mota %>
                                </span>
                            </div>
                        </div>
                        <!-- <div class="main__content-des--wrap active">
                            <div class="main__content-modal--TB">
                                <span class="content__des-title">
                                    Xem danh sách các thiết bị
                                </span>
                                <span class="content__des-content">
                                    <%= data[i].mota %>
                                </span>
                            </div>
                        </div> -->
                        <!-- <form class="main__content-item--child edit__roomTH" action="/edit-roomTH/<%= data[i].id %>" method="GET">
                            <button class="edit" type="submit">Edit</button>
                        </form>
                        <form class="main__content-item--child delete__roomTH" action="/delete-roomTH/<%= data[i].id %>" method="POST">
                            <button class="delete" type="submit">Delete</button>
                        </form>
                        <% } %>
                    </div>
                </div>
        </main>  -->
    <!-- </div>  -->
    <!-- <div class="wrap__modal">
        <div class="modal__manager">
            <form class="modal__form" action="/create-newroomTH" method="POST">
                <div class="modal__item-wrap">
                    <span class="modal__manager-name">
                        Tạo phòng mới
                    </span>
                </div>
                <div class="modal__content-wrap">
                    <div class="modal__item-wrap">
                        <label class="modal__item-label">Tên phòng TH</label>
                        <input class="modal__item-input" type="text" name="tenphong" />
                    </div>
                    <div class="modal__item-wrap">
                        <label class="modal__item-label">Mã phòng</label>
                        <input class="modal__item-input" type="text" name="maphong" />
                    </div>
                    <div class="modal__item-wrap">
                        <label class="modal__item-label">Chuyên khoa</label>
                        <input class="modal__item-input" type="text" name="chuyenkhoa" />
                    </div>
                    <div class="modal__item-wrap">
                        <label class="modal__item-label">Số lượng sinh viên</label>
                        <input class="modal__item-input" type="text" name="soluongsinhvien" />
                    </div>
                    <div class="modal__item-wrap">
                        <label class="modal__item-label">Mô tả</label>
                        <input class="modal__item-input" type="text" name="mota" />
                    </div>
                    
                    <div class="modal__item-wrap">
                        <button class="modal__item-button" type="submit">Lưu</button>
                    </div>
                </div>
            </form>
        </div>
    </div> -->

    <!-- <% if(roomTH) { %>
    <div class="wrap__modal wrap__modal-edit">
        <div class="modal__manager modal__manager-edit">
                <form class="modal__form" action="/post-edit-roomTH" method="POST">
                    <div class="modal__item-wrap">
                        <span class="modal__manager-name">
                            Chỉnh sửa thông tin phòng TH
                        </span>
                    </div>
                    <div class="modal__content-wrap">   
                        <div class="modal__item-wrap">
                            <label class="modal__item-label">Tên phòng TH</label>
                            <input class="modal__item-input" value="<%=roomTH.tenphong%>" type="text" name="tenphong" />
                        </div>
                        <div class="modal__item-wrap">
                            <label class="modal__item-label">Mã phòng</label>
                            <input class="modal__item-input" value="<%=roomTH.maphong%>" type="text" name="maphong" />
                        </div>
                        <div class="modal__item-wrap">
                            <label class="modal__item-label">Chuyên khoa</label>
                            <input class="modal__item-input" value="<%=roomTH.chuyenkhoa%>" type="text" name="chuyenkhoa" />
                        </div>
                        <div class="modal__item-wrap">
                            <label class="modal__item-label">Số lượng sinh viên</label>
                            <input class="modal__item-input" value="<%=roomTH.soluongsinhvien%>" type="text" name="soluongsinhvien" />
                        </div>
                        <div class="modal__item-wrap">
                            <label class="modal__item-label">Mô tả</label>
                            <input class="modal__item-input" value="<%=roomTH.mota%>" type="text" name="mota" />
                        </div>
                        <div class="modal__item-wrap">
                            <input type="text" hidden value="<%= roomTH.id %>" name="id" />
                        </div>
                        <div class="modal__item-wrap">
                            <button class="modal__item-button" type="submit">Lưu</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <% } %> -->

    <!-- <script src="/js/roomTH.js"></script> -->
</body>
</html>

